<div class="form-group">
    <div class="row">
        <div class="col-sm-offset-2 col-xs-8 no-padding">
            {{ form_widget(form.firstNumber, {"attr" : {"class": "form-control"}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-xs-8 no-padding">
            {{ form_widget(form.operator, {"attr" : {"class": "form-control"}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-xs-8 no-padding">
            {{ form_widget(form.secondNumber, {"attr" : {"class": "form-control"}}) }}
        </div>
    </div>
</div>